body,html{

    height: 100%;
    margin: 0;
    
    
}

.image{
    background-image: url("lights.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  
}

.hero-text {
    font-size: 55px;
    text-align: center;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Otomanopee One', sans-serif;
}

.add{
    top: 18%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Otomanopee One', sans-serif;
}

.text-block{
    font-size: 19px;
    position: absolute;
    top: 30%;
    right: 22%;
    left: 22%;
    background-color: #222831;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto Mono', monospace;
  }
